    <!-- Header -->
    <header id="header" class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 centering text-center ">
                    <img class="img-circle" src="http://placehold.it/250x250" alt="">
                    <div class="hero-text text-center">
                			<h1>Tom Burrie</h1>
                			<h1 class="small">Ontwerper</h1>
                			<p>29 jaar jong en ambitieus.</p>                
											<a href="#" class="btn btn-lg btn-primary">Know Me Better</a>
            				</div>
                </div>
            </div>
        </div>
    </header>