	<div id="myNavbar" class="sidebar-nav">
    <div id="navbar-green" class="navbar navbar-custom" role="navigation">
    
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="visible-xs navbar-brand">Sidebar menu</span>
      </div>
      
      <div class="navbar-collapse collapse sidebar-navbar-collapse">
				<div class="hidden-xs navbar-brand">
					<h2>Tom Burrie</h2>
					<h2 class="small">Ontwerper</h2>
					<p>29 jaar jong en ambitieus.</p>      
				</div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#about">Over</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#">Menu Item 4</a></li>
          <li><a href="#">Reviews</a></li>
        </ul>
      </div><!--/.nav-collapse -->
      
    </div><!--/.navbar -->
  </div><!--/.sidebar-nav -->  