
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
		<div class="container">
					<div class="row">
						<div class="col-md-12">
					
						<div id="carousel" class="carousel slide">
  			
						<!-- Indicators -->
						<ol class="carousel-indicators">
								{% for post in site.posts offset:1 %}
										{% if forloop.first %}
												{% capture iteration %}{% cycle '1', '2' %}{% endcapture %}
												<li data-target="#carousel" data-slide-to="0" class="active"></li>
										{% else %}
												{% capture iteration %}{% cycle '1', '2' %}{% endcapture %}
												<li data-target="#carousel" data-slide-to="1"></li>
										{% endif %}
								{% endfor %}
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner">
								{% for post in site.posts %}
										{% if forloop.first %}
												{% cycle 'section-group-start': '<div class="item active">'+'<div class="row">', '', '' %}
													<div class="col-sm-3 portfolio-item">
															<a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
																	<div class="caption">
																			<div class="caption-content">
																					<i class="fa fa-search-plus fa-3x"></i>
																			</div>
																	</div>
																	<img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
																</a>
														</div>
													{% if forloop.last %}</div>{% else %}
												{% cycle 'section-group-end': '', '', '</div>'+'</div>' %}
											{% endif %}
										{% else %}
												{% cycle 'section-group-start': '<div class="item">'+'<div class="row">', '', '' %}
													<div class="col-sm-3 portfolio-item">
															<a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
																	<div class="caption">
																			<div class="caption-content">
																					<i class="fa fa-search-plus fa-3x"></i>
																			</div>
																	</div>
																	<img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
																</a>
														</div>
													{% if forloop.last %}</div>{% else %}
												{% cycle 'section-group-end': '', '', '</div>'+'</div>' %}
											{% endif %}
										{% endif %}
								{% endfor %}
						</div>

						<!-- Controls -->
						<a class="left carousel-control" href="#carousel" data-slide="prev">
								<span class="glyphicons white chevron-left"></span>
						</a>
						<a class="right carousel-control" href="#carousel" data-slide="next">
								<span class="glyphicons white chevron-right"></span>
						</a>

				</div>
					</div>
			</div>
			</div><!--.container-->

    </section>




				