 <!-- About Section -->
    <section class="success" id="services">
        <div class="container">
				 <div class="row">
							<div class="col-lg-8 col-lg-offset-2">
									<h2>Curriculum vitae</h2>
									<p class="lead">en waar ik goed in ben</p>
									<span class="divider"></span>
							</div>
					</div>
						<div class="row">
							<div class="col-md-2">label</div>
							<div class="col-md-1">
								<a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Link with href
</a>
 								</div>
							<div class="col-md-9">
								<div class="collapse" id="collapseExample">
									<div class="panel">
										...
									</div>
								</div>
 
							</div>
						</div>
					</div>
    </section>