 <!-- About Section -->
    <section class="success" id="services">
				 <div class="row">
							<div class="col-lg-12">
									<h2>Wat ik doe</h2>
									<p class="lead">en waar ik goed in ben</p>
									<span class="divider"></span>
							</div>
					</div>
					<div class="row">
						<div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="media">
											<div class="media-left media-top">
												<i class="fa fa-camera-retro fa-3x"></i>
											</div>
											<div class="media-body">
												<h4 class="media-heading">Grafisch ontwerper</h4>
												Lorem ipsum...
											</div>
										</div>
                </div>
								<div class="col-md-4">
                    <div class="media">
											<div class="media-left media-top">
												<i class="fa fa-camera-retro fa-3x"></i>
											</div>
											<div class="media-body">
												<h4 class="media-heading">Ontwikkelen</h4>
												Lorem ipsum...
											</div>
										</div>
                </div>
								<div class="col-md-4">
                    <div class="media">
											<div class="media-left media-top">
												<i class="fa fa-camera-retro fa-3x"></i>
											</div>
											<div class="media-body">
												<h4 class="media-heading">UI/UX</h4>
												Lorem ipsum...
											</div>
										</div>
                </div>
								<div class="col-md-4">
                    <div class="media">
											<div class="media-left media-top">
												<i class="fa fa-camera-retro fa-3x"></i>
											</div>
											<div class="media-body">
												<h4 class="media-heading">Motion design</h4>
												Lorem ipsum...
											</div>
										</div>
                </div>
            </div>
							</div>
						</div>
    </section>