<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>

			<!-- Content -->
				<div class="container">
						<div class="row">

							<div class="col-sm-9">
								{% include header.html %}
								{% include about.html %}
								{% include contact.html %}
								{% include services.html %}
								{% include resume.html %}
								{% include contact.html %}
								{% include footer.html %}
								{% include modals.html %}
								{% include js.html %}
							</div>
							<div class="col-sm-3">
								{% include nav.html %}
							</div>
						</div>
				</div>
			
    </body>
</html>
