<!DOCTYPE html>
<html>
    {% include head.html %}
    <body data-spy="scroll" data-target="#myNavbar">

			<!-- Content -->
				<div class="container">
						<div class="row">
							<div class="col-sm-4">
								{% include nav.html %}
							</div>
							<div class="col-sm-8" style="overflow-x:hidden;">
								
								{% include about.html %}
								{% include contact.html %}
								{% include services.html %}
								{% include resume.html %}
								{% include contact.html %}
								{% include footer.html %}
								{% include modals.html %}
								{% include js.html %}
							</div>

						</div>
				</div>
			
    </body>
</html>
